AbstractDataLake @ git+https://github.com/antoniobelotti/AbstractDataLake.git@8f6cca430f1c335916695aaf6e3450798828d57e
azure-core==1.11.0
azure-storage-blob==12.7.1
azure-storage-file-datalake==12.2.3
AzureDataLake @ git+https://github.com/antoniobelotti/AzureDataLakeConnector.git@ec1e1c778b27fb071a8826571e322bb9b398526a
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.4.4
idna==2.10
isodate==0.6.0
msrest==0.6.21
oauthlib==3.1.0
pycparser==2.20
python-version==0.0.2
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
tqdm==4.56.2
urllib3==1.26.3
